<div class="well">
    <h2>Paginas</h2>
</div>

<table class="table table-bordered table-hover">
    <thead>
	<tr>
	    <th>Titulo</th>
	</tr>
    </thead>
    <tbody>
	<% @pages.each do |page| %>
	    <tr>
		<td><%= link_to page.title, admin_page_path(page) %></td>
		<td><%= link_to 'Editar', edit_admin_page_path(page), :class => 'btn btn-small' %></td>
		<td><%= link_to 'Eliminar', [:admin, page], method: :delete, data: { confirm: '¿Estas seguro?' }, :class => 'btn btn-small btn-danger' %></td>
	    </tr>
	<% end %>
    </tbody>
</table>

<br />

<%= link_to 'Nueva Pagina', new_admin_page_path, :class => 'btn btn-primary' %>
