<div class="well">
    <h2>Destinos</h2>
</div>

<table class="table table-bordered table-hover">
    <thead>
	<tr>
	    <th>Destino</th>
	    <th></th>
	    <th></th>
	</tr>
    </thead>
    <tbody>
	<% @destinations.each do |destination| %>
	    <tr>
		<td><%= destination.name %></td>
		<td><%= link_to 'Editar', edit_admin_destination_path(destination), :class => 'btn btn-small' %></td>
		<td><%= link_to 'Eliminar', [:admin, destination], method: :delete, data: { confirm: '¿Estas seguro?' }, :class => 'btn btn-small btn-danger' %></td>
	    </tr>
	<% end %>
    </tbody>
</table>

<br />

<%= link_to 'Nuevo Destino', new_admin_destination_path, :class => 'btn btn-primary' %>
