<table class="table table-bordered table-striped">
    <tr>
	<td width="121">&nbsp;</td>
	<td>
	    <h2><%= @destination.name %></h2>
	</td>
    </tr>
</table>


<%= link_to 'Editar', edit_admin_destination_path(@destination), :class => 'btn' %>
<%= link_to 'Regresar', admin_destinations_path, :class => 'btn' %>
