
<div class="button-wrapper clearfix">
<%= link_to 'Regresar', admin_categories_path, :class => 'btn' %>
<%= link_to 'Editar', edit_admin_category_path(@category), :class => 'btn' %>
</div>

<table class="table table-bordered table-striped">
    <tr>
	<td width="121">&nbsp;</td>
	<td>
	    <h2><%= @category.name %></h2>
	</td>
    </tr>
    <tr>
	<td><b>Hoteles</b></td>
	<td>
	    <ul>
		<% @category.hotels.each do |hotel| %>
		    <li><%= link_to hotel.name, admin_hotel_path(hotel) %></li>
		<% end %>
	    </ul>
	</td>
    </tr>
</table>

<br />
