//= require zoom-showcase

@import url(http://fonts.googleapis.com/css?family=Oxygen:400,300,700);
$baseFontFamily: 'Oxygen';

@import 'bootstrap';
@import 'bootstrap-datepicker';

/* Custom bootstrap styles */
.btn-custom {
  background-color: hsl(40, 82%, 38%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#eaad32", endColorstr="#b07b11");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#eaad32), to(#b07b11));
  background-image: -moz-linear-gradient(top, #eaad32, #b07b11);
  background-image: -ms-linear-gradient(top, #eaad32, #b07b11);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #eaad32), color-stop(100%, #b07b11));
  background-image: -webkit-linear-gradient(top, #eaad32, #b07b11);
  background-image: -o-linear-gradient(top, #eaad32, #b07b11);
  background-image: linear-gradient(#eaad32, #b07b11);
  border-color: #b07b11 #b07b11 hsl(40, 82%, 33.5%);
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.29);
  -webkit-font-smoothing: antialiased;
}

.btn-purple {
  background-color: hsl(303, 46%, 22%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#bc4cb7", endColorstr="#511e4f");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#bc4cb7), to(#511e4f));
  background-image: -moz-linear-gradient(top, #bc4cb7, #511e4f);
  background-image: -ms-linear-gradient(top, #bc4cb7, #511e4f);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #bc4cb7), color-stop(100%, #511e4f));
  background-image: -webkit-linear-gradient(top, #bc4cb7, #511e4f);
  background-image: -o-linear-gradient(top, #bc4cb7, #511e4f);
  background-image: linear-gradient(#bc4cb7, #511e4f);
  border-color: #511e4f #511e4f hsl(303, 46%, 14.5%);
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.49);
  -webkit-font-smoothing: antialiased;
}

.btn-green {
  background-color: hsl(72, 44%, 39%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#e2e9c7", endColorstr="#7d8f37");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#e2e9c7), to(#7d8f37));
  background-image: -moz-linear-gradient(top, #e2e9c7, #7d8f37);
  background-image: -ms-linear-gradient(top, #e2e9c7, #7d8f37);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e2e9c7), color-stop(100%, #7d8f37));
  background-image: -webkit-linear-gradient(top, #e2e9c7, #7d8f37);
  background-image: -o-linear-gradient(top, #e2e9c7, #7d8f37);
  background-image: linear-gradient(#e2e9c7, #7d8f37);
  border-color: #7d8f37 #7d8f37 hsl(72, 44%, 27.5%);
  color: #333 !important;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  -webkit-font-smoothing: antialiased;
}

textarea:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="color"]:focus, .uneditable-input:focus {
    border-color: rgba(92, 137, 59, 0.8);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(92, 137, 59, 0.6);
    outline: 0 none;
}

/* Constants */
$greenDarkColor:#395610;
$purpleTextColor:#610031;
$wrapperWidth:1024px;
/*
$wrapperWidth:960px;
*/


html, body {
    height:100%;
    width:100%;
    margin:0;
}

html {
    background: url('garden.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body{
    background-color:transparent;
}

.wrapper {
    display:table;
    height:100%;
    text-align:center;
    width:100%;
}

.wrapper_width {
    padding:0;
    text-align:center;
    margin:0 auto;
    width:$wrapperWidth;
}


.main {
    display:table-row;
    height:100%;
}

.content {
    margin:50px auto 0 auto;
    width:$wrapperWidth;
}

.content-index {
    margin-top:125px;
}

.header {
    position:relative;
    display:table-row;
    background: #ffdc00 url('header.png') no-repeat top center;
    height: 102px;
    width:100%;
}

.footer {
    display:table-row;
    background:#a4c400 url('footer.png') repeat-x top center;
    height:109px;
    width:100%;
}

.subfooter {
    display:table-row;
    height:10px;
    width:100%;
}

.logo {
    display:block;
    z-index:99;
    position:absolute;
    width: 200px;
    height:143px;
    top: 5px;
    left: 50%;
    margin-left:-100px;
    background:transparent url('logo2.png') no-repeat top center;
}

.pasos {
    background:transparent url('pasos2.png') no-repeat top center;
    width:322px;
    height:125px;
    margin-left:-161px;
    z-index:98;
    position:absolute;
    top:100px;
    left:50%;
}

.green {
    color:$greenDarkColor;
}

.boxes {
    width:910px;
    margin:0 auto 10px auto;
}

.box1 {
    color:#610031;
    padding-top:20px;
    text-align:left;
    width:296px;
    height:196px;
    float:left;
    background:transparent url('box11.png') no-repeat top center;
}

.box1 ul li {
    display:inline;
}

.box2 {
    color:#0f2556;
    padding-top:20px;
    text-align:left;
    width:296px;
    height:196px;
    float:left;
    background:transparent url('box22.png') no-repeat top center;
    margin-left:10px;
    margin-top:15px;
}

.box3 {
    color:#1a3c0c;
    padding-top:20px;
    text-align:left;
    width:296px;
    height:196px;
    float:left;
    background:transparent url('box33.png') no-repeat top center;
    margin-left:10px;
}

.box1 table, .box2 table {
    margin-left:20px;
}

.box3 table{
    margin-left:15px;
}

.box1 table td, .box2 table td {
    vertical-align:top;
    padding:0 10px;
}

.box3 table td {
    vertical-align:top;
    padding:0 4px;
    max-width:140px;
}

.box1 label, .box2 label, .box3 label {
    font-weight:700;
}

.box3 label{
    font-size:12px;
}

.box_title {
    margin-top:2px;
    display:block;
    text-align:center;
    font-weight:700;
    margin-bottom:6px;
}

.main_footer {
    padding-top:45px;
    vertical-align:middle;
    margin:0 auto;
    width:885px;
}

.link_footer {
    margin-right:10px;
    text-align:center;
    font-size: $baseFontSize + 12px;
    color:#1b1464;
    font-weight:700;
    float:left;
    display:block;
    width:210px;
}

.link_footer:hover {
    /*
    color: #d5cc7c;
    */
    text-decoration:none;
}

.item {
    width:600px;
    margin:20px auto;
}

    .item .pre {
	padding-top:25px;
	float:left;
	background:transparent url('thumb.png') no-repeat top center;
	width:207px;
	height:165px;
    }

	.item .pre .helper {
	    display:inline-block;
	    height:137px;
	    margin:0;
	    padding:0;
	    vertical-align:middle;
	}

	.item .pre .helper img {
	    max-width:150px;
	    vertical-align:middle;
	}

    .item .info {
	text-align:left;
	width: 363px;
	float:left;
	padding-top:10px;
	margin-left:30px;
	color:$purpleTextColor;
    }

    .item .info .title {
	margin:10px 0;
    }

    .item .info a.btn {
	margin-top:5px;
	float:left;
	margin-right:10px;
    }

/* Ficha */

.form-canvas {
    margin:30px auto 10px auto;
}

.left_side{
    width:490px;
    float:left;
}

    .left_side label {
	font-weight:bold;
    }

.right_side {
    width:534px;
    float:left;
}

.input_datepicker{
    width:241px;
}

#zoom-gallery {
    margin-top:100px;
    margin-left:10px;
    margin-bottom:180px;
}

#map-canvas {
    width:480px;
    height:270px;
    margin:27px auto 20px auto;
    overflow:hidden;
}

.video-canvas {
    margin: 30px auto 0 auto;
}

.select_form {
    width:284px;
}

.input-datepicker {
    width:242px;
}

.form-canvas .btn-custom {
    margin-right:13px;
}
