<!DOCTYPE html>
<html>
<head>
  <title>Tuhmorelos</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "jquery", "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

    <div class="header"></div>

    <div class="main_image"></div>

    <div class="logos">
	<a href="#" class="logo_left"></a>
	<a href="#" class="logo_middle"></a>
	<a href="#" class="logo_right"></a>
    </div>

    <div class="context">

	<%= yield %>

    </div>

    <div class="footer">
    </div>

</body>
</html>
