<div class="main_footer clearfix">
    <a href="#" class="link_footer">多Donde dormir?</a>
    <a href="#" class="link_footer">多Que hacer?</a>
    <a href="#" class="link_footer">多Como moverse?</a>
    <a href="#" class="link_footer">多Donde comer?</a>
</div>
