<div class="main_footer clearfix">

    <!--
    <% Page.all.each do |page| %>
	<%= link_to page.title, page_path(page), :class => 'link_footer' %>
    <% end %>

    -->
    <!--
    <div class="link_footer">
	<%= image_tag 'banner_descuento2.jpg' %>
    </div>
    -->

    <div class="link_footer"><%= image_tag 'banner_descuento2.jpg' %></div>

    <a class="link_footer" href="/search?utf8=✓&destinations%5B%5D=1"><img src="/assets/banner_cuernavaca.jpg" /></a>
    <a class="link_footer" href="/search?utf8=✓&destinations%5B%5D=2"><img src="/assets/banner_tepoztlan.jpg" /></a>
    <a class="link_footer" href="/search?utf8=✓&destinations%5B%5D=4"><img src="/assets/banner_tequesquitengo.jpg" /></a>
    <a class="link_footer" href="/search?utf8=✓&destinations%5B%5D=3"><img src="/assets/banner_cuautla.jpg" /></a>

</div>
